DATABASE_URL="postgresql://[usuario]:[tu_password]@[tu_host_de_neon].aws.neon.tech/[tu_base_de_datos]?sslmode=require"
SECRET_KEY="tu_super_clave_secreta_en_produccion_debe_ser_una_variable_de_entorno"
